

/* ----------------
  初始设置
------------------*/
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family:STHeiti Light,STHeiti,Georgia, "Times New Roman",
             "Microsoft YaHei", "微软雅黑",
             STXihei, "华文细黑",
             serif;
  color: #83b0b9;
  /*background-color: #7A9EAF;*/
}

a {
  text-decoration: none;
}
/*-----------------------------
登录，注册，logo
-------------------------------*/
header {
  z-index: 2;
  position: absolute;
  margin: 0 auto;
  height: 35px;
  width: 100%;
  top: 10px;
  -webkit-transition: all 0.6s cubic-bezier(0.17, 0.84, 0.44, 1);
          transition: all 0.6s cubic-bezier(0.17, 0.84, 0.44, 1);
}

header .username {
  font-size: 15px;
  line-height: 1.5em;
  color: #ffffff;
  height: 100%;
  float: right;
  margin-right: 30px;
}

header .scrollheader {
  position: relative;
  top: 10px;
}

header .username #user {
  display: inline-block;
  padding-right: 16px;
  margin-right: 4px;
  border-right: 1px solid #e0e0e0;
  cursor: pointer;
}

header .username #logout {
  position: relative;
  display: inline-block;
  top: 2px;
  margin-left: 9px;
  background: url('../public/sign-out.svg') no-repeat center;
  background-size: 100% 150%;
  width: 18px;
  height: 15px;
}

header::after, .scrollheader::after{
  content: '';
  display: table;
  clear: both;
}

header.active {
  position: fixed;
  top:0;
  height: 45px;
  background-color: rgba(51, 54, 68, 0.6);
  background: -webkit-linear-gradient(rgba(35, 37, 47, 0.4), rgba(51, 54, 68, 0.92));
  background: linear-gradient(rgba(35, 37, 47, 0.4), rgba(51, 54, 68, 0.92));
  box-shadow: 0px 0px 4px rgba(58, 70, 95, 1);
  width: 100%;
  -webkit-transition: all 0.6s cubic-bezier(0.17, 0.84, 0.44, 1);
          transition: all 0.6s cubic-bezier(0.17, 0.84, 0.44, 1);
}

.active .cd-log li {
  margin-left: 2px;
  margin-top: 3px;
  -webkit-transition: all 0.6s cubic-bezier(0.17, 0.84, 0.44, 1) 0.3s;
          transition: all 0.6s cubic-bezier(0.17, 0.84, 0.44, 1) 0.3s;
}
.active .cd-log li a {
  font-size: 15px;
}
@media only screen and (min-width:768px) {
  header {
    position: fixed;
  }

  header .username {
    border-radius: 5px;
    background-color: #eebb00;
    box-shadow: 0 1px 20px rgba(238, 187, 0, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.4);
    padding: 6px 10px;
  }

  header .username:hover {
    box-shadow: 0 1px 30px rgba(243, 192, 7, 0.4);
  }

  header.active {
    position: fixed;
    top:0;
    height: 45px;
    background-color:rgba(255,255,255,0);
    background: none;
    box-shadow: 0 0 0 rgba(255,255,255,0);
    width: 100%;
  }

  .active .cd-log li:hover {
    background-color: rgba(92, 211, 180, 1);
    border: 0px solid rgba(255,255,255,0);
    -webkit-transition: background-color 0.1s;
            transition: background-color 0.1s;
  }

  .cd-log li {
    height:100%;
    width: 5em;
  }

  .active .cd-log li {
    margin-left: 1em;
    margin-top: 10px;
    text-align: center;
    border-radius: 2em;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    width: 7em;
    padding: 7px 2px;
    border: 1px solid rgba(255,255,255,1);
    -webkit-transition: all 0.6s cubic-bezier(0.17, 0.84, 0.44, 1) 0.3s;
            transition: all 0.6s cubic-bezier(0.17, 0.84, 0.44, 1) 0.3s;
  }
  .active .cd-log li a {
    padding: 0px 0px;
  }
}

.cd-log {
  height: 100%;
  width:auto;
  float: right;
  margin-right: 10px;
}

.cd-log ul {
  position: relative;
  height: 100%;
  line-height: 20px;
}

.cd-log li {
  display: inline-block;
  margin-left: 1em;
  margin-top: 10px;
  border: 1px solid rgba(255,255,255,0);
  -webkit-transition: margin-left 0.6s cubic-bezier(0.17, 0.84, 0.44, 1),margin-top 0.6s cubic-bezier(0.17, 0.84, 0.44, 1);
          transition: margin-left 0.6s cubic-bezier(0.17, 0.84, 0.44, 1),margin-top 0.6s cubic-bezier(0.17, 0.84, 0.44, 1);
}

.cd-log li a {
  display: inline-block;
  padding-left: 5%;
  width: 50px;
  height: auto;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  -webkit-transition: all 0.6s cubic-bezier(0.17, 0.84, 0.44, 1);
          transition: all 0.6s cubic-bezier(0.17, 0.84, 0.44, 1);
}

.cd-log li a:hover {
  color: #6D6C68;
}

/*------------------------------
主要内容
-------------------------------*/
main {
  top: 0;
  position: relative;
}

.cd-section {
  height: 100vh;
  position: relative;
}

#section1 .first-page {
  position: relative;
  height: 100%;
}
#section1 .cd-firstPage {
  position: relative;
  top: 15%;
  height: 25%;
  vertical-align: middle;
  padding: 32px 0 32px 64px;
  margin-bottom: 15px;
  box-shadow: 0 0 10px rgb(16, 20, 26);
}

#section1 .inline {
  display: inline-block;
}

#section1 .cd-describe {
  position: relative;
  width: 33%;
}

#section1 .cd-title {
  position: relative;
  width: 28%;
}

#section1 .cd-photo {
  position: relative;
  width: 30%;
  top:5px;
  margin-left: 3%;
  padding: 5px 5px;
  height: 100%;
}

#section1 .cd-photo span {
  display: inline-block;
  width: 20%;
  height: 60%;
  margin-right: 5%;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.8);
}



/*#section1 .cd-photo span:nth-child(1) {
  background-image: url('../public/span2.jpg');
}

#section1 .cd-photo span:nth-child(2) {
  background-image: url('../public/span2.jpg');
}

#section1 .cd-photo span:nth-child(3) {
  background-image: url('../public/span2.jpg');
}*/

#section1 .cd-firstPage h2 {
  display: inline-block;
  color: #00bff3;
  font: 500 27px/1.2 "D", 'Lucida Grande', verdana, sans-serif;
}

#section1 .cd-firstPage h4 {
  display: inline-block;
  font: 400 20px/1.2 "D", 'Lucida Grande', verdana, sans-serif;
  color: #333B47;
}

/*--------------------------*/

#section2 .second-page {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
          -webkit-column-gap: 8px;
             -moz-column-gap: 8px;
                  column-gap: 8px;
  height: 100%;
  padding: 2em 1.5em;
}

#section2 .cd-secondPage {
  position: relative;
  padding: 10px 8px 0 15px;
  width: 100%;
  height: 50%;
}

#section2 .cd-secondPage .cd-pic {
  position: relative;
  height: 97%;
  background-position: center;
  background-size: cover;
  background-image: url('../public/span2.jpg');
}

#section2 .cd-secondPage .cd-deta {
  width: 100%;
  height: 100%;
  background-color: rgba(15, 15, 15, 0.7);
  vertical-align: middle;
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
          transition: opacity 0.2s ease-out;
}

#section2 .cd-secondPage .cd-deta:hover {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out;
          transition: opacity 0.2s ease-out;
}

#section2 .cd-secondPage .cd-pic:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.95);
  -webkit-transition: opacity 0.2s ease-out;
          transition: opacity 0.2s ease-out;
}

#section2 .cd-viewAll {
  position: absolute;
  bottom: 12px;
  left: 35px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 2px;
  border-bottom: 1px solid #eee;
}

#section2 .cd-viewAll:hover {
  color: #A4FF00;
  border-bottom: 1px solid #A4FF00;
}

#section2 .cd-secondPage .cd-deta h2 {
  position: relative;
  top: 44%;
  text-align: center;
  font-size: 24px;
  color: #fff;
}

/*---------------------------*/

#section3 .cd-thirdPage {
  position: relative;
  width: 100vw;
  height: 25vh;
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
  background-size: cover;
}

#section3 .cd-thirdPage .cd-cover {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 1;
}

#section3 .cd-thirdPage h2 {
  position: relative;
  text-align: center;
  font-size: 24px;
  color: #fff;
  top: 44%;
}

/*#section3 .cd-thirdPage:nth-child(1) {
  background-image: url('../public/people.jpg');
}

#section3 .cd-thirdPage:nth-child(2) {
  background-image: url('../public/people1.jpg');
}

#section3 .cd-thirdPage:nth-child(3) {
  background-image: url('../public/people2.jpg');
}

#section3 .cd-thirdPage:nth-child(4) {
  background-image: url('../public/people3.jpeg');
}*/

@media only screen and (min-width:768px) {
  #section3 .cd-thirdPage {
    position: relative;
    display: inline-block;
    width: 25%;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
            transform: scale(1, 1);
  }

  #section3 .cd-thirdPage:hover {
    -webkit-transform: scale(0.98 , 0.98);
        -ms-transform: scale(0.98 , 0.98);
            transform: scale(0.98 , 0.98);
    box-shadow: 0 0 20px rgba(0, 103, 108, 0.8);
    -webkit-transition: all 0.8s;
            transition: all 0.8s;
  }

  #section3 .cd-thirdPage .cd-cover {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: #111524;
  }

  #section3 .cd-thirdPage .cd-cover:hover {
    opacity: 0;
    -webkit-transition: opacity 0.5s;
            transition: opacity 0.5s;
  }
}


/*--------------------------*/
.cd-section p {
  top: 10em;
}


.cd-section:nth-of-type(1) {
  background-color:  #171d25;
}

.cd-section:nth-of-type(2) {
  background-color: #393E46;
}

.cd-section:nth-of-type(3) {
  background-color: #111524;
}

.cd-section:nth-of-type(4) {
  background-color: #EEEEEE;
}

@media only screen and (min-width:768px) {
  main {
    margin:0px 0px 0px 90px;
  }
}

/*--------------------------
登录注册
----------------------------*/
.fullscreen {
  position:fixed;
  z-index: 4;
  left:0;
  top:0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(256,256,256,0.97);
  display: -ms-flexbox;
  display: -webkit-flex;
  display: none;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  visibility: hidden;
}

.dialog-animation {
	animation:scale-fade 200ms forwards cubic-bezier(.8,.08,.18,.91);
	-webkit-animation:scale-fade 200ms forwards cubic-bezier(.8,.08,.18,.91);
}
@-webkit-keyframes scale-fade {
	0%   {
		transform:scale(0,0);
		-ms-transform:scale(0,0);
		-moz-transform:scale(0,0);
		-webkit-transform:scale(0,0);
		-o-transform:scale(0,0);
	}
  30%  {
    -webkit-transform: scale(0.4, 0.4);
            transform: scale(0.4, 0.4);
  }
  50%  {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
  80%   {
		transform:scale(1.2,1.2);
		-ms-transform:scale(1.2,1.2);
		-moz-transform:scale(1.2,1.2);
		-webkit-transform:scale(1.2,1.2);
		-o-transform:scale(1.2,1.2);
	}
	100%  {
		transform:scale(1,1);
		-ms-transform:scale(1,1);
		-moz-transform:scale(1,1);
		-webkit-transform:scale(1,1);
		-o-transform:scale(1,1);
	}
}
@keyframes scale-fade {
	0%   {
		transform:scale(0,0);
		-ms-transform:scale(0,0);
		-moz-transform:scale(0,0);
		-webkit-transform:scale(0,0);
		-o-transform:scale(0,0);
	}
  30%  {
    -webkit-transform: scale(0.4, 0.4);
            transform: scale(0.4, 0.4);
  }

  50%  {
    -webkit-transform: scale(0.8, 0.8);
            transform: scale(0.8, 0.8);
  }
	80%   {
		transform:scale(1.2,1.2);
		-ms-transform:scale(1.2,1.2);
		-moz-transform:scale(1.2,1.2);
		-webkit-transform:scale(1.2,1.2);
		-o-transform:scale(1.2,1.2);
	}
	100%  {
		transform:scale(1,1);
		-ms-transform:scale(1,1);
		-moz-transform:scale(1,1);
		-webkit-transform:scale(1,1);
		-o-transform:scale(1,1);
	}
}

.fullscreen.selected {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
}

.signin-title,.login-title {
  position: absolute;
  top:20vh;
  margin:20px auto;
  border-bottom:1px solid #AEADAB;
}

.login-title {
  width: 28vw;
  left:15vw;
}

.signin-title {
  width: 28vw;
  right:13vw;
}

.signin-title h3,.login-title h3 {
  position: relative;
  line-height: 0;
  font-size: 20px;
  color:#b1b1b1;
  font-weight: bold;
  cursor: pointer;
}

.signin-title h3:hover,.login-title h3:hover {
  color: #717171;
}

.login-title h3 {
  left: 31vw;
}

.signin-title h3 {
  left:-5.5vw;
}

@media only screen and (max-width:768px) {
  .signin-title {
    right:10vw;
  }
  .login-title {
    left:10vw;
  }

  .login-title h3 {
    left: 29vw;
  }
  .signin-title h3 {
    left:-8vw;
  }
}

.login-title h3.selected, .signin-title h3.selected {
  color:#2E3837;
}

.log-container {
  width: 90%;
  max-width: 800px;
  margin: 30px 30px;
}

.cd-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:stretch;
  -webkit-align-items:stretch;
      -ms-flex-align:stretch;
          align-items:stretch;
  -webkit-align-content:	center;
      -ms-flex-line-pack:	center;
          align-content:	center;
  padding: 30px;
  margin: 0;
  width: 100%;
}

.cd-signin.hidden,.cd-login.hidden {
  display:none;
}

.cd-form .forget-password {
  position: relative;
  top:5px;
  margin: 0 auto;
  font-size: 14px;
  color: #4E6F99;
}

.cd-form .forget-password::after {
  content: ' ';
  position: absolute;
  display: inline-block;
  top: 16px;
  left: 50%;
  width: 0;
  height: 1px;
  opacity: 0;
  background-color: #18bc9c;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.cd-form .forget-password:hover::after {
  opacity: 1;
  width: 110px;
  left: -10%;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.cd-form input {
  font-size: 16px;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

.cd-form input.full-width {
	width: 100%;
  height: 44px;
}

.cd-form input.has-padding{
	padding: 8px 12px 4px 43px;
}
.cd-form input.has-border{
	border: 1px solid #d2d8d8;
}
.cd-form input.has-border:focus{
	border-color: #3088F0;
  box-shadow: 0 0 5px rgba(44,151,222,0.3);
  outline: none;
}

.cd-form .cd-label {
  position: relative;
  top: 31px;
  left: 45px;
  cursor: text;
  font-size: 14px;
  color:#94aab0;
  -webkit-transition: top 0.2s, left 0.2s, font-size 0.2s;
  transition: top 0.2s, left 0.2s, font-size 0.2s;
}

.cd-form .cd-icon {
  position: absolute;
  left: 23px;
  top: 32px;
  width: 15px;
  height: 15px;
  background-size: 15px 15px;
}

.cd-form .cd-icon.username {
  background: url('../public/user.svg') no-repeat center center;
}

.cd-form .cd-icon.email {
  background: url('../public/email.svg') no-repeat center center;
}

.cd-form .cd-icon.password {
  background: url('../public/password.svg') no-repeat center center;
}

.cd-form div {
  position: relative;
  margin: 5px 0;
}

.close-button {
  font-size: 38px;
  font-family: -apple-system,".SFNSText-Regular","Roboto","Segoe UI","Oxygen","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
  font-weight: 300;
  color: rgba(0,0,0,0.3);
  position: absolute;
  top:12px;
  right: 5px;
  padding: 10px 20px;
}

.close-button:hover {
  color: rgba(0,0,0,0.8);
}

.cd-form .cd-label.float{
	color: #9DDCC8;
  font-size: 12px;
  top: -5px;
  left: 0 !important;
}

.cd-form input[type=submit] {
  padding: 16px 0;
  cursor: pointer;
  background: #37A5BB;
  color: #FFF;
  font-size: 14px;
  font-weight: bold;
  border: none;
  width: 100%;
  box-shadow: 0 0 4px rgba(13,85,99,0.4);
}

.cd-form input[type=submit]:focus {
  border: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2),0 1px 15px rgba(255, 255, 255, 0.3);
}

.cd-form input[type=checkbox] {
  border: 1px solid #00F6AD;
  background: #ffffff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}

.cd-form input[type=checkbox]:focus {
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.8);
}

.cd-form input[type=checkbox] + label {
  padding-left: 9px;
  color: #2b3e51;
  font-weight: bold;
  font-size: 12px;
}

.cd-form input[type=checkbox] ~ a {
  font-size: 11px;
  color: #2B54A2;
}

.cd-form .hide-password {
  position: absolute;
  right:1.2em;
  top:1.9em;
  cursor: pointer;
  font-size: 14px;
  padding: 6px 13px;
  border-left: 1px solid #d2d8d8;
  color:#FB6964;
}

/*---------------------------
回到头部
----------------------------*/
#back-to-top {
  position: fixed;
  width:40px;
  height: 40px;
  border-radius: 10px;
  box-shadow: 0 0 9px rgba(46, 59, 80, .8);
  bottom:5px;
  right: 32px;
  background:rgba(47, 72, 82, 1) url('../public/cd-top-arrow.svg') no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}

#back-to-top:hover {
  border-radius: 14px;
}

#back-to-top.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
/*----------------------------
meun 控制键 animation
-----------------------------*/


.cd-meun-trigger {
  position: fixed;
  z-index: 3;
  width: 50px;
  height: 50px;
  left:1.2em;
  bottom:1em;
  border-radius: 50%;
  background-color: #243040;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 0.5s;
          transition: transform 0.5s;
}

.cd-meun-trigger .cd-nav-icon {
  position: absolute;
  left:50%;
  top:50%;
  width: 22px;
  height: 2px;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: #ffffff;
}

.cd-meun-trigger .cd-nav-icon::before, .cd-meun-trigger .cd-nav-icon::after {
  content:'';
  position: absolute;
  top:0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  -webkit-transition: -webkit-transform 0.5s, width 0.5s, top 0.3s;
          transition: transform 0.5s, width 0.5s, top 0.3s;
}

.cd-meun-trigger .cd-nav-icon::before {
  -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
          transform: translateY(-6px);
}

.cd-meun-trigger .cd-nav-icon::after {
  -webkit-transform-origin: right bottom;
      -ms-transform-origin: right bottom;
          transform-origin: right bottom;
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
          transform: translateY(6px);
}

.cd-meun-trigger:hover .cd-nav-icon::after {
  top:2px;
}

.cd-meun-trigger:hover .cd-nav-icon::before {
  top: -2px;
}

.cd-meun-trigger svg {
  position: absolute;
  top: 0;
  left: 0;
}

.cd-meun-trigger circle {
  -webkit-transition: stroke-dashoffset 0.4s 0s;
          transition: stroke-dashoffset 0.4s 0s;
}

.navigation-is-open .cd-meun-trigger {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.navigation-is-open .cd-meun-trigger .cd-nav-icon::before,
.navigation-is-open .cd-meun-trigger .cd-nav-icon::after {
  width: 50%;
  -webkit-transition: -webkit-transform 0.5s,width 0.5s;
          transition: transform 0.5s,width 0.5s;
}

.navigation-is-open .cd-meun-trigger .cd-nav-icon::before  {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navigation-is-open .cd-meun-trigger .cd-nav-icon::after  {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navigation-is-open .cd-meun-trigger:hover .cd-nav-icon::after,.navigation-is-open .cd-meun-trigger:hover .cd-nav-icon::before {
  top: 0;
}

.navigation-is-open .cd-meun-trigger circle {
  stroke-dashoffset:0;
  -webkit-transition: stroke-dashoffset 0.4s 0.3s;
          transition: stroke-dashoffset 0.4s 0.3s;
}

@media only screen and (min-width:768px) {
  .cd-meun-trigger {
    visibility: hidden;
  }
}

/*----------------------
   lateralNavAnimation
-----------------------*/


.cd-side-navigation {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #243040;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform .7s 0s;
          transition: transform .7s 0s;
  -webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
          transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
}

.cd-side-navigation .cd-navigation-wrapper {
  height: 100%;
  padding: 40px 5% 40px calc(5% + 50px);
  -webkit-transform: translateX(-60%);
      -ms-transform: translateX(-60%);
          transform: translateX(-60%);
  -webkit-transition: -webkit-transform .7s;
          transition: transform .7s;
  -webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
          transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
}

.navigation-is-open .cd-side-navigation {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: -webkit-transform .7s 0s;
          transition: transform .7s 0s;
  -webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
          transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
}

.navigation-is-open .cd-side-navigation .cd-navigation-wrapper {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform .5s;
          transition: transform .5s;
  -webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
          transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
}

.cd-navigation-wrapper li {
  position: relative;
  margin: 5.6em 0;
  line-height: 44px;
  text-align: center;
  cursor: pointer;


}

.cd-navigation-wrapper li::before {
  content: '';
  position: absolute;
  display: inline-block;
  top: 24px;
  left:50%;
  height: 8px;
  width: 0px;
  opacity: 0;
  z-index: -1;
  background-color: rgba(61, 205, 208, 0.6);
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

.cd-navigation-wrapper li:hover::before{
  width: 60%;
  opacity: 1;
  left:20%;
}
.cd-navigation-wrapper li:hover a {
  color:#ffffff;
}

.cd-navigation-wrapper li a {
  font-family: "Merriweather",serif;
  font-size: 3.4rem;
  color: rgba(255, 255, 255, 0.3);
}

@media only screen and (min-width:768px) {
  .cd-side-navigation {
    left:0;
    width: 90px;
    z-index: 1;
    background-color: #0C0E0E;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }

  .cd-side-navigation .cd-cover {
    position: absolute;
    width: 100%;
    height: 103px;
    background-color: #ffffff;
    box-shadow:inset 0 0 1px #010C0A;
    -webkit-transition: -webkit-transform 0.2s;
            transition: transform 0.2s;
  }

  .cd-side-navigation .cd-cover.item-2 {
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
  }
  .cd-side-navigation .cd-cover.item-3 {
    -webkit-transform: translateY(200%);
        -ms-transform: translateY(200%);
            transform: translateY(200%);
  }
  .cd-side-navigation .cd-cover.item-4 {
    -webkit-transform: translateY(300%);
        -ms-transform: translateY(300%);
            transform: translateY(300%);
  }

  .cd-side-navigation .cd-navigation-wrapper {
    width: 100%;
    padding: 0 0;
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }

  .cd-side-navigation li {
    margin: 0 auto;
    line-height: 68px;
    width: 100%;
  }





  .cd-side-navigation li a {
    display: block;
    position: relative;
    padding: 23px 0 12px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #4a5261;

  }

  .cd-side-navigation li a::before {
    content:'';
    position: absolute;
    width: 24px;
    top:19px;
    left: 33px;
    height: 24px;
    background: url("../public/saveNavi.png") no-repeat 0 0;
    background-size: 96px 48px;
  }

  .cd-navigation-wrapper li:hover a {
    color: #FF5335;
  }

  .cd-side-navigation li::before,
  .cd-side-navigation li:hover::before {
    display: none;
  }

  .cd-side-navigation li::after {
    z-index: 2;
    content: '';
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    -webkit-transition: width .4s;
            transition: width .4s;
  }

  .cd-side-navigation li:hover::after {
    width: 4px;
  }
  .cd-side-navigation li:nth-of-type(1):hover::after {
    background-color: #171d25;
  }
  .cd-side-navigation li:nth-of-type(2):hover::after {
    background-color: #EB586F;
  }
  .cd-side-navigation li:nth-of-type(3):hover::after {
    background-color:  #EC7263;
  }
  .cd-side-navigation li:nth-of-type(4):hover::after {
    background-color: #FEBE7E;;
  }

  .cd-side-navigation li.selected:nth-of-type(1) a::before{
    background-position: 0 -24px;
  }
  .cd-side-navigation li.selected:nth-of-type(2) a::before {
    background-position: -24px -24px;
  }
  .cd-side-navigation li.selected:nth-of-type(3) a::before {
    background-position: -48px -24px;
  }
  .cd-side-navigation li.selected:nth-of-type(4) a::before {
    background-position: -72px -24px;
  }

  .cd-side-navigation li:nth-of-type(2) a::before {
    background-position: -24px 0;
  }
  .cd-side-navigation li:nth-of-type(3) a::before {
    background-position: -48px 0;
  }
  .cd-side-navigation li:nth-of-type(4) a::before {
    background-position: -72px 0;
  }
}
